:root {
  --primary-color: #10ac84;
  --secondary-color: #222f3e;
  --tertiary-color: #ee5253;
  --fourth-color: #1dd1a1;
  --fiveth-color: #feca57;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: poppins Regular;
  border: none;
  outline: none;
}
body {
  background: var(--primary-color);
}
.tabela {
  background: var(--secondary-color);
  width: 500px;
  margin: 10px auto;
  padding: 20px 0;
  border-radius: 15px;  
}
.tittle {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--fiveth-color);  
  margin: 10px 20px;
}
.listas {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
  color: white;
  font-size: 20px;
  font-weight: 300;
}
.tittle2 {
  display: flex;
  justify-content: center;
  color: var(--fiveth-color);
  font-size: 1rem;
  font-weight: 700;
  margin: 20px 20px;  
}
.formulario {  
  display: flex;  
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
form input { 
  width: 100%; 
  height: 30px;
  text-align: center;
  margin: 5px 0;  
  font-size: 1rem;
  font-weight: 500;
  border-radius: 20px;  
}
form input:focus {
  outline: 2px solid red;
}
.botao {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.botao button {
  width: 75px;
  height: 30px;
  cursor: pointer;
  background: var(--fourth-color);
  color: black;
  font-size: 1rem;
  font-weight: 400;  
}
.botao button:hover {
  background: var(--fiveth-color);
  width: 85px; 
  font-size: 1.2rem;
  font-weight: 500;
}
.resultado {
  width: 100%;
  height: 50px;  
  align-items: center;
  justify-content: center;
  background: var(--fourth-color);
  display: none;
}
.resultado p {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}